@model List<CafeShopMVC.Models.Product>

<h2>Danh sách sản phẩm cà phê</h2>

<table border="1">
<tr>
<th>Tên</th>
<th>Giá</th>
</tr>

@foreach(var item in Model)
{
<tr>
<td>@item.Name</td>
<td>@item.Price</td>
</tr>
}
</table>
